<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello World!</title>
        <link href = "../static/fonts.css" rel = "stylesheet">
        <link href = "../static/style.css" rel = "stylesheet">
        <link href = "../static/index.css" rel = "stylesheet">
    </head>
    <body class = "center">
        
        <h1 id = "title">Welcome!</h1>
        <p style = "text-align:center;">Select an existing notebook or start a new one</p>
        
        <div id = "container">
            <div id = "notebooks">
            
            </div>
            <div id = "create-new" class = "background-primary">
            
            </div>
        </div>
        
    </body>
</html>